<h1 class="welcomenote">Welcome to CSE Motors!</h1>
<section class="herosection">
    <div class="herosection-overlay"></div>
    <div class="herocontent">
        <p>DMC Delorean</p>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzy dice!</li>
        </ul>
        <button class="owntoday">
            Own Today
        </button>
    </div>
</section>
<div class="large">
    <section class="vehicle-review">
        <h1>DMC Delorean Reviews</h1>
        <ul>
            <li>"so fast it's almost like traveling in time" (4/5)</li>
            <li>"coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </section>
    <section class="class-upgrade">
        <h1>Delorean Upgrades</h1>
        <div class="upgrade-parts">
            <figure>
                <img src="images/upgrades/flame.jpg" alt="flame decal">
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                <figcaption>Bumper Sticker</figcaption>
            </figure>
            <figure>
                <img src="images/upgrades/hub-cap.jpg" alt="hub cap">
                <figcaption>Hub Cap</figcaption>
            </figure>
            <figure>
                <img src="images/upgrades/flux-cap.png" alt="flux capacitor">
                <figcaption>Hood Ornament</figcaption>
            </figure>
        </div>
    </section>
</div>

